<div class="container">
  <div class="row d-flex justify-content-center">
      <div class="col-md-9">
          <div class="card p-4 mt-3">
              <h3 class="heading mt-5 text-center">FIND STOCK</h3>
              <div class="d-flex justify-content-center px-5">
                  <div class="search"> <input type="text" class="search-input" placeholder="Search..."  [(ngModel)]="ticker" name="ticker" required> <button class="btn btn-primary" (click)="findStock();loadPriceData();toggleShow();" ng-model="submit">Search</button></div>
              </div>
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th class="stock-info-key">TICKER</th>
                    <td class="stock-ticker">{{stock.ticker}}</td>
                  </tr>
                  <tr>
                    <th class="stock-info-key">COMPANY NAME</th>
                    <td class="stock-company">{{stock.company}}</td>
                  </tr>
                  <tr>
                    <th class="stock-info-key">PRICE</th>
                    <td class="stock-price">${{stock.price.toFixed(2)}}</td>
                  </tr>
                  <tr>
                    <th class="stock-info-key">INDUSTRY</th>
                    <td class="stock-price">{{stock.industry}}</td>
                  </tr>
                  <tr>
                    <th class="stock-info-key">ADVICE</th>
                    <td class="stock-advice" *ngIf="stock.advice === 'Buy'" style="color: green;">{{stock.advice}}</td>
                    <td class="stock-advice" *ngIf="stock.advice === 'Sell'" style="color: red;">{{stock.advice}}</td>
                    <td class="stock-advice" *ngIf="stock.advice === 'Hold'" style="color: orange;">{{stock.advice}}</td>
                    <td class="stock-advice" *ngIf="stock.advice === 'N/A'" style="color: black;">{{stock.advice}}</td>
                  </tr>
                </tbody>
              </table>

              <ngx-charts-line-chart *ngIf=isShown [legend]="legend" [xAxis]="xAxis" [yAxis]="yAxis" [timeline]="timeline" [results]="chartData" [view]="view"  [legendTitle]="'Ticker'" (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
</ngx-charts-line-chart>
          </div>
        </div>
  </div>
</div>
