.stock-info-key{
  font-weight: 700;
}

.card {
  border: none;
  width: 140%;
  margin-top: 30%;
  background-color: rgba(222, 234, 252, 0.842);
  border-radius: 1rem;
  left: 50%;
  transform: translate(-50%, 0)
}

.search {
  width: 100%;
  margin-bottom: auto;
  margin-top: 20px;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px
}

.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 20px;
  transition: width 0.4s linear
}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  caret-color: #536bf6;
  font-size: 19px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear
}

.btn.btn-primary {
  height: 34px;
  width: 70px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  bottom: 30px;
  position: relative;
  border-radius: 5px
}

.search-icon:hover {
  background-color: #0b6bc0ec;
}

.table.table-borderless{
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  text-align: left;
}

.stock-advice{
  font-weight: 700;
}

.stock-company{
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
