#logoPic{
  padding-bottom: 0.6rem;
}
#logo{
  margin-top: 0.3rem;
  padding-left: 1rem;
}

#name{
  font-size: 20px;
  padding-left: 0.5rem;
  color: rgba(240, 248, 255, 0.918);
}

.nav-item{
  font-size: 1.1rem;
  margin-left: 1rem;
}

.navbar-brand{
  align-items: center;
  padding-right: 0rem;
}


#list{
  margin-left: auto !important;
  padding-right: 1rem;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
  color:rgba(240, 248, 255, 0.959);
}
.nav>li>a:focus, .nav>li>a:hover{
  background-color: #0d6efd;
}
