<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" id="logo" href="#">
        <img src="assets/Citi.png" height="38" width="38" id="logoPic" class="d-inline-block align-top" alt="">
      </a>

        <a class="navbar-brand" id="name" href="#">Portfolio Manager</a>
        <ul class="navbar-nav nav bg-primary" id="list">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stocktrades-transactions" >Trade</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/stocktrades-history">Portfolio</a>
          </li>
        </ul>
</nav>

<router-outlet></router-outlet>
