.styled-table {
  border-collapse: collapse;
  font-size: 15px;
  margin: 25px 0;
  font-family: sans-serif;
  min-width: 1000px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  left: 50%;
  transform: translate(12%,0);
}

.image-ticker {
  position: relative;
  width: 45px;
  height: 40px;
  border-radius: 20%;
}

.container-card {
  border: 30px solid rgba(0, 0, 0, 0);
  float: left;


}


.card-header {
  font-weight: bold;
  background-color: rgb(0, 59, 112);
  color: white;
}

.body {
  vertical-align: middle;
}

.styled-table thead tr {
  background-color: rgb(0, 59, 112);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(0, 59, 112);
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* new style  */
/* by Jamal Hassouni*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300');


.card-new{
  position: relative;
  width: 200px;
  text-decoration: auto;
  height: 400px;
  float: left;
  background: linear-gradient(-45deg,#fc0101, rgb(0, 157, 248));
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}

.card-new:hover{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.col-sm-4:nth-child(1) .card-new ,
.col-sm-4:nth-child(1) .card-new .title .fa{
  background: linear-gradient(-45deg,#052797,#64b5f6);

}
.col-sm-4:nth-child(2) .card-new,
.col-sm-4:nth-child(2) .card-new .title .fa{
  background: linear-gradient(-45deg,#120ef5,#217cf3);


}
.col-sm-4:nth-child(3) .card-new,
.col-sm-4:nth-child(3) .card-new .title .fa{
  background: linear-gradient(-45deg,#0641c0,#a3c3ff);

}

.title .fa{
  color:#fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius:  50%;
  text-align: center;
  line-height: 100px;
  -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 10px rgba(0,0,0,.1) ;

}
.title h2 {
  position: relative;
  margin: 20px  0 0;
  padding: 0;
  color: #fff;
  font-size: 40px;
 z-index: 2;
}
.price,.option{
  position: relative;
  z-index: 2;
}
.price h4 {
margin: 0;
padding: 20px 0 ;
color: #fff;
font-size: 25px;
}
.option ul {
  margin: 0;
  padding: 0;

}
.option ul li {
margin: 0 0 10px;
padding: 0;
list-style: none;
color: #fff;
font-size: 16px;
}
.card-new a {
  position: relative;
  text-decoration: auto;
  z-index: 2;
  background: #fff;
  color : black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin: 20px auto 0 ;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}
.card-new a:hover{
    text-decoration: none;
}



