<div class="container">

<div class="row">
    <div class="col-sm container-card " *ngFor="let stock of stocksData | keyvalue" >
            <div class="card-new text-center">
              <div class="title">
                <img class="image-ticker" style="" src={{stock.value[3]}} aria-hidden="false">
                <h2>{{stock.key}}</h2>
              </div>
              <div class="price">
                <h4>{{stock.value[1]}} shares</h4>
              </div>
              <div class="option">
                <ul>
                <li> <i class="fa fa-check" aria-hidden="true"></i> ${{stock.value[2]}}</li>
                <li> <i class="fas fa-chart-line" aria-hidden="true"></i> {{stock.value[0]}}</li>
                </ul>
              </div>
              <a href="/stocktrades-transactions">Order More </a>
            </div>

    </div>
<div>

</div>


	<div  *ngIf="stockTrades.length !== 0">
			  <table class="styled-table">
				<thead>
				  <tr>
					<th scope="col">Transaction ID</th>
					<th scope="col">Ticker</th>
					<th scope="col">Price</th>
					<th scope="col">Volume</th>
					<th scope="col">Type</th>
					<th scope="col">StatusCode</th>
					<th scope="col">TimeStamp</th>

				  </tr>
				</thead>
				<tbody>
				  <tr *ngFor="let stocktrade of stockTrades.slice().reverse()">

					<td>{{stocktrade.id}}</td>
					<td>{{stocktrade.stockTicker}}</td>
					<td>{{stocktrade.price}}</td>
					<td>{{stocktrade.volume}}</td>
					<td>{{stocktrade.buyOrSell}}</td>
					<td>{{stocktrade.statusCode}}</td>
					<td>{{stocktrade.createdTimestamp | date: 'medium'}}</td>
				  </tr>
				</tbody>
			  </table>

		</div>




