

#buyside{
  margin-right: 5%;
  margin-top: 5%;
  padding: 2%;
  color:rgb(247, 247, 247);
  border-radius: 1rem;
  background: linear-gradient(-45deg,#fc0101, rgb(0, 157, 248));
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
}

#sellside{
  margin-left: 5%;
  margin-top: 5%;
  color:rgb(247, 247, 247);
  padding: 2%;
  border-radius: 1rem;
  background: linear-gradient(-45deg,#fc0101, rgb(0, 157, 248));
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
}

#disabledTextInput{
  background-color: rgb(204, 201, 201);
}

.market{
  margin: 3rem;
  padding: 1rem;
  background: linear-gradient(-45deg,#fc010163, rgba(0, 157, 248, 0.39));
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
  border-radius: 1rem;
  align-items: center;
}

.stock-info-search-container{
  margin-top: 7%;
}






