<div class="container">
  <div class="row">

    <div class="col-sm" id="buyside">
    <h2>BUY</h2>
    <br/>
      <form>

        <div class="form-group row">
          <!--Search bar-->
          <div class="col-sm-6">
            <label for="stockSearchInput">Search Stock</label>
            <select class="form-select" aria-label="Default select example" name="GOOGL" [(ngModel)]="stocktrades.stockTicker">
              <option selected value="GOOGL" >GOOGL</option>
              <option value="C" >C</option>
              <option value="AMZN" >AMZN</option>
              <option value="AAPL" >AAPL</option>
              <option value="FB" >FB</option>
              <option value="TSLA" >TSLA</option>
            </select>
            <!--<input class="form-control"  id="stockSearchInput" [(ngModel)]="stocktrades.stockTicker" name="ticker" placeholder="e.g. GOOGL">-->
          </div>

          <div class="col-sm-2">
          </div>

          <!--Unit Price-->
          <div class="col-sm-4" *ngIf="stocktrades.stockTicker.length !== 0">
            <label for="disabledTextInput">Unit Price</label>
            <input type="number" id="disabledTextInput" class="form-control" placeholder="${{returnPrice()}}" readonly>
          </div>
        </div>

        <br/>

        <div class="form-group row">
          <!--Amount-->
          <div class="col-sm-6">
            <label for="amountInput">Enter amount</label>
            <input type="number" class="form-control" [(ngModel)]="stocktrades.volume" id="amountInput" name="volume" placeholder="e.g. 50">
          </div>

          <div class="col-sm-2">
          </div>

          <!--Total Price-->
          <div class="col-sm-4" *ngIf="stocktrades.volume !== 0">
            <label for="disabledTextInput">Total Price</label>
            <input type="number" id="disabledTextInput" class="form-control" placeholder="${{totalValue()}}" readonly>
          </div>
        </div>

      </form>
      <br/>
      <br/>
      <button type="submit" class="btn btn-primary" (click)="createTransactionsBUY()">Submit Order</button>

    </div>




    <div class="col-sm" id="sellside">
      <h2>SELL</h2>
      <br/>
      <form>

        <div class="form-group row">

          <!--Search bar-->
          <div class="col-sm-6">
            <label for="stockSearchInput">Search Stock</label>
            <select class="form-select" aria-label="Default select example" name="GOOGL" [(ngModel)]="stocktrades.stockTicker">
              <option selected value="GOOGL" >GOOGL</option>
              <option value="C" >C</option>
              <option value="AMZN" >AMZN</option>
              <option value="AAPL" >AAPL</option>
              <option value="FB" >FB</option>
              <option value="TSLA" >TSLA</option>
            </select>
          </div>

          <div class="col-sm-2">
          </div>

          <!--Unit Price-->
          <div class="col-sm-4" *ngIf="stocktrades.volume !== 0">
            <label for="disabledTextInput" >Unit Price</label>
            <input type="number" id="disabledTextInput" class="form-control" placeholder="${{returnPrice()}}" readonly>
          </div>
        </div>

        <br/>
        <div class="form-group row">
        <!--Amount-->
          <div class="col-sm-6">
            <label for="amountInput">Enter amount</label>
            <input type="number" class="form-control" [(ngModel)]="stocktrades.volume" name="volumeSell" id="amountInput" placeholder="e.g. 50">
          </div>

          <div class="col-sm-2">
          </div>

          <!--Total Revenue-->
          <div class="col-sm-4" *ngIf="stocktrades.volume !== 0">
            <label for="disabledTextInput">Total Revenue</label>
            <input type="number" id="disabledTextInput" class="form-control" placeholder="${{totalValue()}}">
          </div>
        </div>

      </form>
      <br/>
      <br/>
      <button type="submit" class="btn btn-primary" (click)="createTransactionsSELL()">Submit Order</button>

    </div>
  </div>

  <div class="stock-info-search-container">
    <app-find-stock></app-find-stock>



  </div>

<div class="market">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">STOCK</th>
      <th scope="col">CURRENT PRICE</th>
      <th scope="col">CHANGE 24h</th>
    </tr>
  </thead>
  <tbody *ngIf="prices[0] !== 0" >
    <tr *ngFor="let ticker of tickers; let i = index">
      <td>{{ticker}}</td>
      <td>${{prices[i].toFixed(2)}}</td>
      <td *ngIf="change[i] > 0" style="color: green;">{{(change[i]*100).toFixed(2)}}%</td>
      <td *ngIf="change[i] <= 0" style="color: red;">{{(change[i]*100).toFixed(2)}}%</td>
    </tr>

  </tbody>
</table>
</div>


</div>
